@charset "UTF-8";
/* body */
body {
  background: #000;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  padding: 0 0 0 0;
}

/* header */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  min-height: 45px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 12px 0;
  z-index: 9999;
  display: none;
}

header h1 {
  float: left;
  font-size: 26px;
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 8px 0 0 16px;
  padding: 0 0 0 0;
}

header h1 a {
  text-decoration: none;
  color: #fff;
}

header nav {
  float: right;
  margin: 16px 0 0 0;
  padding: 0 70px 0 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  padding: 0 25px;
}

header span {
  position: absolute;
  top: 18px;
  right: 14px;
  display: block;
  width: 32px;
  height: 32px;
  background: gray;
  cursor: pointer;
}

/* category */
#cnav {
  display: table;
  position: fixed;
  top: 69px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 0 13px 0;
  z-index: 9998;
  display: none;
}

#cnav h2,
#cnav ul {
  display: table-cell;
}

#cnav h2 {
  padding: 0 0 0 16px;
  width: 98px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
}

#cnav h2:after {
  content: ":";
}

#cnav ul {
  padding: 0 16px 0 0;
}

#cnav li {
  display: inline-block;
}

#cnav li a {
  display: block;
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 10px;
  -moz-border-radius: 4px;
       border-radius: 4px;
}

main[role="main"] article {
  position: relative;
  overflow: hidden;
  height: 469px;
  clear: both;
  min-width: 980px;
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
       box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
}

main[role="main"] article img {
  position: absolute;
  top: -100px;
  left: -25%;
  width: 150%;
  z-index: 9996;
}

main[role="main"] article:first-child img {
  top: -100px;
}

main[role="main"] article > a {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9997;
}

main[role="main"] article:nth-child(even) > a {
  right: 0;
}

main[role="main"] article .textbox {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9997;
  height: 100%;
  width: 24%;
  padding: 16px;
  padding: 1.6rem;
  background: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

main[role="main"] article:nth-child(even) .textbox {
  left: 0;
}

main[role="main"] article .textbox > div {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

main[role="main"] article .textbox * {
  color: #fff;
}

main[role="main"] article .textbox h2 {
  margin: 0 0 12px;
  margin: 0 0 1.2rem;
  padding: 0 0 5px;
  padding: 0 0 .5rem;
  font-size: 16px;
  font-size: 1.6rem;
  border-bottom: 1px dashed #fff;
}

main[role="main"] article .textbox dl {
  display: table;
}

main[role="main"] article .textbox dl dt,
main[role="main"] article .textbox dl dd {
  display: table-cell;
}

main[role="main"] article .textbox > div > dl {
  margin: 0 0 12px 0;
  margin: 0 0 1.2rem 0;
  border: 1px solid #fff;
  -moz-border-radius: 4px;
       border-radius: 4px;
}

main[role="main"] article .textbox > div > dl dt,
main[role="main"] article .textbox > div > dl dd {
  padding: 6px 10px;
  padding: .6rem 1rem;
  font-size: 12px;
  font-size: 1.2rem;
}

main[role="main"] article .textbox > div > dl dt {
  background: #fff;
  color: #000;
}

main[role="main"] article .textbox > div > p {
  padding: 8px;
  padding: .8rem;
  margin: 0 0 12px;
  margin: 0 0 1.2rem;
  border: 1px solid #ccc;
  -moz-border-radius: .4rem;
       border-radius: .4rem;
  line-height: 140%;
  font-size: 12px;
  font-size: 1.2rem;
}

main[role="main"] article .textbox .items dl {
  width: 100%;
}

main[role="main"] article .textbox .items dl dt,
main[role="main"] article .textbox .items dl dd {
  padding: 6px 6px 6px 0;
  padding: .6rem .6rem .6rem 0;
  vertical-align: middle;
}

main[role="main"] article .textbox .items dl dt span,
main[role="main"] article .textbox .items dl dd {
  font-size: 12px;
  font-size: 1.2rem;
}

main[role="main"] article .textbox .items dl dt span {
  display: inline-block;
  padding: 6px;
  padding: .6rem;
  -moz-border-radius: .4rem;
       border-radius: .4rem;
  color: #000;
  font-weight: bold;
  background: #fff;
}

main[role="main"] article .textbox .items dl dd {
  width: 100%;
  line-height: 140%;
}
